* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  background-color: #ecf0f4;
  margin: 0 auto;
}

.loader {
}

.movies {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
  box-shadow: 2px 5px 40px 0 rgb(0 0 0 /8%);
}
